*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(42,80,96);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: gray;
    font-size: 17px;
    border: none;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: rgb(49, 160, 252) ;
    }
    &:active{
        transform: scale(0.97);
    }
    .imgBtn{
        width: 25px;
    }
}

.error{
    margin: auto;
    color: white;
    padding: 20px;
    background-color: red;
    border-radius: 10px;
}

.container{
    max-width: 1250px;
    height: 100vh;
    margin: auto;
    background: rgb(42,80,96);
}

.Incont{
    height: 700px;
    padding: 10px;
}

.top{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 10px 0px;
    max-width: 1250px;
    .weatherTop{
        color: white;  
    }
    div{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        input{
            width: 250px;
            padding: 13px 15px;
            border-radius: 10px;
            font-size: 17px;
            border: none;
            outline: none;
            color: white;
            background-color: rgba(128, 128, 128, 0.663);
        }
        input::placeholder{
            color: white;
        }
    }
}

.center{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0px;
    .in{
        display: grid;
        align-items: center;
        padding: 20px;
        width: 520px;
        height: 230px;
        background-color: rgba(128, 128, 128, 0.288);
        border-radius: 20px;
        color: white;
        .one{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 3px;
            .local{
                width: 30px;
            }
        }
        .two{
            display: flex;
            align-items: center;
            justify-content: start;
            span{
                display: grid;
                align-items: center;
                h1{
                    font-size: 50px;
                }
                p{
                    font-size: 30px;
                }
            }
        }
        .three{
            width: 320px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                p{
                    font-size: 18px;
                }
                img{
                    width: 30px;
                }
            }
        }
    }
    .in2{
        display: grid;
        padding: 20px;
        width: 520px;
        height: 230px;
        background-color: rgba(128, 128, 128, 0.288);
        border-radius: 20px;
        color: white;
        
        .Title{
            font-size: 23px;
        }
        .bottom{
            width: 80%;
            display: flex;
            justify-content: space-between;
            div:nth-child(1){
                display: grid;
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                    color: rgb(169, 162, 162);
                }
                span{
                    span{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
            div:nth-child(2){
                display: grid;
                grid-gap: -200px;
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                    color: rgb(169, 162, 162);
                }
                span{
                    span{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

.Boxthree{
    display: grid;
    align-items: center;
    grid-gap: 20px;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 20px;
    height: 220px;
    border-radius: 20px;
    .Title{
        color: white;
    }
    .intwo{
        width: 100%;
        height: 75px;
        background-color: rgba(128, 128, 128, 0.525);
        display: flex;
        align-items: center;
        justify-content:center ;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        position: relative;
        span{
            position: absolute;
            height: 75px;
            background-color: rgb(49, 160, 252) ;
            border-radius: 10px;
            top: 0;
            left: 0;

        }
    }

    .bottom{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        gap: 10px;
        div{
            display: grid;
            align-items: center;
            justify-content: center;
            background-color: rgba(128, 128, 128, 0.525);
            border-radius: 10px;
            color: white;
            padding: 12px 0px;
            p{
                margin: auto;
                color: rgb(211, 206, 206);
            }
            h1{
                margin: auto;
                font-size: 22px;
            }
        }
    }
}

//top
@media (max-width : 620px) {
    .top{
        div{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 10px;
            input{
                width: 200px;
            }
        }
    }
}

//center
@media (max-width : 1163px) {
    .center{
        .in{
            width: 450px;
        }
        .in2{
            width: 450px;
        }
    }
}

@media (max-width : 1120px) {
    .center{
        .in{
            width: 430px;
        }
        .in2{
            width: 430px;
        }
    }
}

@media (max-width : 982px) {
    .center{
        .in{
            width: 400px;
        }
        .in2{
            width: 400px;
        }
    }
}

@media (max-width : 920px) {
    .center{
        .in{
            width: 370px;
        }
        .in2{
            width: 370px;
        }
    }
}

@media (max-width : 865px) {
    .center{
        .in{
            width: 350px;
        }
        .in2{
            width: 350px;
        }
    }
}


@media (max-width : 822px) {
    .center{
        .in{
            width: 320px;
        }
        .in2{
            width: 320px;
        }
    }
}

@media (max-width : 760px) {
    .center{
        .in{
            width: 100%;
        }
        .in2{
            width: 100%;
        }
    }
}

@media (max-width : 384px) {
    .center{
        .in{
            font-size: 10px;
            .two{
                span{
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
            .three{
                width: 250px;
                span{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        .in2{
            .Title{
                font-size: 17px;
            }
            .bottom{
                gap: 10px;
                div:nth-child(1){
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
                div:nth-child(2){
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}


//boxthree
@media (max-width : 890px) {
    .Boxthree{
        height: auto;
    }
}